# This must be different from original port
TEST_PORT=4...

# These must be different from original ports
TEST_API_PORT=6...
TEST_DB_PORT=6...
TEST_DB_SHADOW_PORT=6...
TEST_DB_POOLER_PORT=6...
TEST_STUDIO_PORT=6...
TEST_INBUCKET_PORT=6...

DIRECT_URL_TEST=
DATABASE_URL_TEST=

NEXT_PUBLIC_SUPABASE_URL_TEST=
NEXT_PUBLIC_SUPABASE_ANON_KEY_TEST=
SUPABASE_SERVICE_ROLE_KEY_TEST=

TEST_AUTH_BYPASS_KEY=